rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
   function signedIn() {
      return request.auth != null;
    }

    function isActiveMember(businessId) {
      return signedIn()
        && exists(/databases/$(database)/documents/members/$(request.auth.uid))
        && get(/databases/$(database)/documents/members/$(request.auth.uid)).data.businessId == businessId
        && get(/databases/$(database)/documents/members/$(request.auth.uid)).data.active == true;
    }

    function isOwner(businessId) {
      return isActiveMember(businessId)
        && get(/databases/$(database)/documents/members/$(request.auth.uid)).data.role == 'owner';
    }

    function canOperate(businessId) {
      return isActiveMember(businessId)
        && get(/databases/$(database)/documents/members/$(request.auth.uid)).data.role in [
          'owner',
          'admin',
          'assistant'
        ];
    }

    match /members/{userId} {
      allow get: if signedIn() && request.auth.uid == userId;
      allow list, create, update, delete: if false;
    }

    match /businesses/{businessId} {
      allow read: if isActiveMember(businessId);
      allow create, delete: if false;
      allow update: if isOwner(businessId);

      match /clients/{clientId} {
        allow read: if isActiveMember(businessId);
	
	allow create: if canOperate(businessId)
	  && request.resource.data.active == true
	  && request.resource.data.createdBy == request.auth.uid
          && request.resource.data.updatedBy == request.auth.uid;

	allow update: if canOperate(businessId)
	  && request.resource.data.createdAt == resource.data.createdAt
	  && request.resource.data.createdBy == resource.data.createdBy
          && request.resource.data.updatedBy == request.auth.uid;

	allow delete: if false;
      }

	match /locations/{locationId} {
           allow read: if isActiveMember(businessId);

  	   allow create: if canOperate(businessId)
    	   && request.resource.data.active == true
  	   && request.resource.data.createdBy == request.auth.uid
 	   && request.resource.data.updatedBy == request.auth.uid
 	   && exists(
   	   /databases/$(database)/documents/businesses/$(businessId)/clients/$(request.resource.data.clientId)
 	);

 	  allow update: if canOperate(businessId)
    	  && request.resource.data.clientId == resource.data.clientId
   	  && request.resource.data.createdAt == resource.data.createdAt
  	  && request.resource.data.createdBy == resource.data.createdBy
  	  && request.resource.data.updatedBy == request.auth.uid;

  	allow delete: if false;
      }

      match /extinguishers/{extinguisherId} {
        allow read: if isActiveMember(businessId);

        allow create: if canOperate(businessId)
          && request.resource.data.active == true
          && request.resource.data.createdBy == request.auth.uid
          && request.resource.data.updatedBy == request.auth.uid
          && exists(
            /databases/$(database)/documents/businesses/$(businessId)/clients/$(request.resource.data.clientId)
          )
          && exists(
            /databases/$(database)/documents/businesses/$(businessId)/locations/$(request.resource.data.locationId)
          )
          && get(
            /databases/$(database)/documents/businesses/$(businessId)/locations/$(request.resource.data.locationId)
          ).data.clientId == request.resource.data.clientId;

        allow update: if canOperate(businessId)
          && request.resource.data.clientId == resource.data.clientId
          && request.resource.data.locationId == resource.data.locationId
          && request.resource.data.createdAt == resource.data.createdAt
          && request.resource.data.createdBy == resource.data.createdBy
          && request.resource.data.updatedBy == request.auth.uid
          && exists(
            /databases/$(database)/documents/businesses/$(businessId)/clients/$(resource.data.clientId)
          )
          && exists(
            /databases/$(database)/documents/businesses/$(businessId)/locations/$(resource.data.locationId)
          )
          && get(
            /databases/$(database)/documents/businesses/$(businessId)/locations/$(resource.data.locationId)
          ).data.clientId == resource.data.clientId;

        allow delete: if false;
      }

    match /{document=**} {
        allow read: if isActiveMember(businessId);
	allow write: if false;
	}
    

    }
  }
}
